@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    font-family: 'Yusei Magic', sans-serif;
    color: #bbb;
}


body{
    overflow-x: hidden;
}

/* ================================================================= */
/* css of sidebar for mobile phone screens */
#check{
    display: none;
}
.nav-small-collapsed{
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    transition: 0.3s;
    transition: top 0.3s ease-out;
    height: 80px;
    z-index: 100;
}
.nav-small-collapsed .website-logo{
    color: #bbb;
    font-size: 2em !important;
    /* max-width: 2em !important; */
    margin-left: 1em;
}
.orange-text, .orange-text b, a:active, #galList a:active{
    color: orange;
}
#sidebar, #cancel{
    position: absolute;
    color: #bbb;
    
    background-color: white;
    top: 20%;
    right: 20px;
    padding: 4px 8.67px;
    font-size: 25px;
    cursor: pointer;
}
#cancel{
    display: none;
}
.nav-expanded{
    position: fixed;
    background-color: white;
    width: 74%;
    height: 100vh;
    left: -500px;
    overflow: hidden;
    transition: 0.3s;
    padding-left: 1.5em;
}
.nav-expanded .website-logo{
    color: #bbb;
    font-size: 2em !important;
    margin-bottom: 0.8em;
}
.nav-expanded .nav-link, .nav-expanded .page-links .nav-item .btn, .nav-expanded .page-links .nav-item .nav-link .collapse a, #galList a, pre, p{
    color: #bbb;
    font-size: 17px;
    width: max-content;
    text-decoration: none;
}
.nav-expanded .nav-link.active, .nav-expanded .nav-link:hover, .nav-expanded .social-icons span:hover, .nav-expanded .navbar-nav .nav-item a.nav-link:hover , .nav-expanded .navbar-nav .nav-item .nav-link .collapsea a:hover, #galList a:hover, #link{
    color: orange;
}
.nav-expanded .social-icons{
    margin-top: 40px;
    display: flex;
    list-style: none;
    padding: 0;
}
.nav-expanded .social-icons span{
    font-size: 25px;
    color: #ccc;
}
.nav-expanded #copyright{
    color: #bbb;
    margin-top: 30px;
    font-size: 14px;
}
.content{
    position: relative;
    left: 0;
    top: 80px;
    margin-left: 1em;
    transition: 0.3s;
}
#check:checked ~ .nav-expanded{
    left: 0;
    z-index: 101;
}
#check:checked ~ div label #sidebar{
    display: none;
    pointer-events: none;
}
#check:checked ~ div label #cancel{
    display: block;
}
#check:checked ~ .content{
    left: 70%;
    opacity: 0.6;
}
#check:checked ~ .nav-small-collapsed{
    background-color: transparent;
}
/* ================================================================= */
/* ================================================================= */
/* nav for larger screen */
@media only screen and (min-width: 768px){
    body{
        display: flex;
    }
    .nav-small-collapsed{
        display: none;
    }
    .nav-expanded{
        position: static;
        flex: 0 0 250px;
        width: auto;
    }
    .nav-expanded .website-logo{
        font-size: 1.5em !important;
    }
    .nav-expanded .page-links .nav-link{
        font-size: 15px;
        padding: 0.3em 0;
    }
    .nav-expanded .social-icons{
        position: relative;
        top: 30%;
    }
    .nav-expanded .social-icons .nav-link{
        margin-right: 1.5em;
        padding: 0.5em 0;
    }
    .nav-expanded .social-icons span{
        font-size: 20px;
    }
    .nav-expanded #copyright{
        position: relative;
        top: 25%;
    }
    .content{
        position: static;
        flex: 1;
        height: 100vh;
        overflow-y: auto;
        margin-left: 1%;
        margin-right: 0;
        padding-right: 0;
    }
    #check:checked ~ .content{
        opacity: 1;
    }
 }
 @media only screen and (max-width: 767.98){
     img.img-fluid.profile{
        max-height: 480px;
        min-width: 360px;
     }
 }
 
.img-fluid{
    min-width: 100px;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    margin:0;
    padding: 0;
    padding-bottom: 0.5em;
    padding-right: 0.25em;
    padding-left: 0.25em;

}
